astroid==1.3.8
blinker==1.4
click==6.2
coverage==3.7.1
dateutils==0.6.6
decorator==4.0.6
fake-factory==0.5.3
Faker==0.1.4
first==2.0.1
flake8==2.4.1
Flask==0.10.1
Flask-Assets==0.11
Flask-Bower==1.2.1
Flask-Login==0.4.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-Testing==0.4.2
ipython==4.0.2
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
logilab-common==1.0.2
MarkupSafe==0.23
mccabe==0.3.1
path.py==8.1.2
peewee==2.8.0
pep8==1.5.7
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
pyflakes==0.8.1
Pygments==2.1
pylint==1.4.4
pylint-flask==0.1
pylint-plugin-utils==0.2.3
python-dateutil==2.4.2
pytz==2015.7
simplegeneric==0.8.1
six==1.9.0
SQLAlchemy==1.0.11
sqlite-web==0.1.5
traitlets==4.1.0
webassets==0.11
Werkzeug==0.10.4
