{% extends "base.html" %}
{% block title %}The Audio Text Catalog{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='frontpage.css') }}" type="text/css" />
{% endblock %}
{% block header %}
    <a href="{{ url_for('login') }}">User login</a>
{% endblock %}
{% block headline %}
    <h1>Welcome to the audio text catalog!</h1>
{% endblock %}
{% block content %}
    <h2>Languages:</h2>
    <ul>
    {% for language in languages %}
        <li>
            <a href="{{ url_for('language', lid=language.id) }}">
                {{ language.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
{% block footer%}
<p>You Are On The Front Page</p>
{% endblock %}