{% extends "base.html" %}
{% block title %}The Audio Text Catalog{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" type="text/css" />
{% endblock %}
{% block header %}
    {{ super() }}
{% endblock %}
{% block headline %}
    <h1>Welcome to the audio text catalog!</h1>
{% endblock %}
{% block content %}
    <h2>Languages:</h2>
    <ul>
    {% for language in languages %}
        <li>
            <a href="{{ url_for('language', lid=language.id) }}">
                {{ language.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
    {% if current_user.is_authenticated %}
        <h2>User Languages:</h2>
        <ul>
            {% for language in user_languages %}
                <li>
                    <a href="{{ url_for('user_language', uid=current_user.id, lid=language.id) }}">
                        {{ language.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
{% block footer%}
{% endblock %}