{% extends "base.html" %}
{% block title %}The Audio Text Catalog{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" type="text/css" />
{% endblock %}
{% block header %}
    {{ super() }}
{% endblock %}
{% block headline %}
    <h1>Welcome to the audio text catalog!</h1>
{% endblock %}
{% block content %}
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('user_languages', uid=current_user.id,) }}">
        <h2>User Languages:</h2>
    </a>
    <ul>
        {% for language in user_languages %}
            <li>
                <a href="{{ url_for('user_language', uid=current_user.id, lid=language.id) }}">
                    {{ language.name }}
                </a>
                <form action="{{ url_for('edit_language', uid=current_user.id, lid=language.id) }}">
                        <input type="submit" value="Edit" />
                </form>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    <h2>Pulic Languages:</h2>
    <ul>
    {% for language in languages %}
    {% if language not in user_languages %}
     <li>
        <a href="{{ url_for('language', lid=language.id) }}">
            {{ language.name }}
        </a>
    </li>
    {% endif %}
    {% endfor %}
    </ul>
{% endblock %}
{% block footer%}
{% endblock %}