<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="uft-8">
    <title>Public Languages</title>
</head>
    <body>
        <h1>Welcome to the language audio text catalog!</h1>
        <h2>Languages:</h2>
        <ul>
        {% for language in languages %}
            <li>
                <a href="{{ url_for('language', lid=language.id) }}">
                    {{ language.name }}
                </a>
            </li>
        {% endfor %}
        </ul>
        <a href="{{ url_for('frontpage') }}">Back to Frontpage</a>
    </body>
</html>
