{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" type="text/css" />
{% endblock %}
{% block header %}
{% endblock %}
{% block headline %}
    <h1>
        Please choose one of the follwing providers to login:
    </h1>
{% endblock %}
{% block content %}
        <h2>Providers:</h2>
        <form method="POST" action={{ url_for('login', next=next) }}>
            {{ form.csrf_token }}
            {{ form.email.label }} {{ form.email(size=20) }}
            <input type="submit" value="Go">
        </form>
        <ul>
            <li>Google</li>
            <li>Facebook</li>
            <li>LinkedIn</li>
            <li>Github</li>
            <li>Twitter</li>
            <li>
                <a href="{{ url_for('mock_login') }}">Mock login</a>
            </li>
        </ul>
{% endblock %}
{% block footer %}
{% endblock %}