{% extends "base.html" %}
{% block title %}Audio of sentence {{ sentence.id }} of language {{ sentence.language_id }}{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='language.css') }}" type="text/css" />
{% endblock %}
{% block header %}
    <a href="{{ url_for('login') }}">User login</a>
{% endblock %}
{% block headline %}
    <h1>
        Audio of sentence {{ sentence.id }}
        of language {{ sentence.language_id }}
    </h1>

{% endblock %}
{% block content %}
        <h2>Audio:</h2>
        <audio controls preload="auto" autoplay>
            <source src="{{ url_for('static', filename=sentence.audio) }}" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
        <p>
        <a href="{{ url_for('sentence', lid=sentence.language_id, sid=sentence.id) }}">
            Back to sentence {{ sentence.id }}
        </a>
{% endblock %}
{% block footer %}
<a href="{{ url_for('frontpage') }}">
    Back to Frontpage
</a>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sentence {{ sentence.id }} of user {{ sentence.user_id}}</title>
</head>
    <body>
        <h1>Show audio of sentence {{ sentence.id }} of language {{ sentence.language_id }}</h1>
        <audio controls preload="auto" autoplay>
          <source src="{{ url_for('static', filename=sentence.audio) }}" type="audio/mpeg">
          Your browser does not support the audio tag.
        </audio>
        <p>
            <a href="{{ url_for('sentence', lid=sentence.language_id, sid=sentence.id) }}">
                Back to sentence {{ sentence.id }}
            </a>
        </p>
    </<body>
</html>
