{% extends "base.html" %}
{% block title %}Translation of sentence {{ sentence.id }} of user {{ sentence.user_id}}{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='language.css') }}" type="text/css" />
{% endblock %}
{% block header %}
    <a href="{{ url_for('login') }}">User login</a>
{% endblock %}
{% block headline %}
    <h1>
        The translation of sentence {{ sentence.id }}
        of language {{ sentence.language_id }}
    </h1>

{% endblock %}
{% block content %}
        <h2>Translation:</h2>
        <p>{{ sentence.translation }}</p>
        <p>
            <a href="{{ url_for('sentence', lid=sentence.language_id, sid=sentence.id) }}">
                Back to sentence {{ sentence.id }}
            </a>
        </p>
{% endblock %}
{% block footer %}
<p>You are on the sentence translation page</p>
{% endblock %}