{% extends "base.html" %}
{% block title %}Translation of sentence {{ sentence.id }} of user {{ sentence.user_id}}{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='language.css') }}" type="text/css" />
{% endblock %}
{% block header %}
    {{ super() }}
{% endblock %}
{% block headline %}
    <h1>
        The translation of sentence {{ sentence.id }}
        of language {{ sentence.language_id }}
    </h1>

{% endblock %}
{% block content %}
        <h2>Translation:</h2>
        <p>{{ sentence.translation }}</p>
{% endblock %}
{% block footer %}
{% endblock %}