<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="uft-8">
    <title>Public Language {{ language.name }}</title>
</head>
<body>
    <h1>
        Here all sentences of language {{ language.name }}
        with id {{ language.id }} are shown!
    </h1>
    {% for sentence in sentences %}
            <li>
                <a href="{{ url_for('show_sentence',
                                     lid=language.id,
                                     sid=sentence.id) }}">
                    {{ sentence.text }}
                </a>
            </li>
        {% endfor %}
    <br>
    <a href="{{ url_for('show_languages') }}">Back to all languages</a>
</body>
</html>
