<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sentence with id {{ sentence.id }} of user {{ sentence.user_id}}</title>
</head>
    <body>
        <h1>Show the sentence with id {{ sentence.id }} of language {{ sentence.language_id }} of user {{ sentence.user_id }}</h1>
        <ul>
            <li>Text :
                <a href="{{ url_for('show_sentence_text', lid=sentence.language_id, sid=sentence.id) }}">
                    {{ sentence.text }}
                </a>
            </li>
            <li>Audio :
                <a href="{{ url_for('show_sentence_audio', lid=sentence.language_id, sid=sentence.id) }}">
                    <img src="{{ url_for('static', filename='images/rounded-play-button.jpg')}}" height="12">
                    </img>
                </a>
            </li>
            <li>Translation :
                <a href="{{ url_for('show_sentence_translation', lid=sentence.language_id, sid=sentence.id) }}">
                    {{ sentence.translation }}
                </a>
            </li>
        </ul>
        <a href="{{ url_for('show_language', lid=sentence.language_id) }}">
            Back to language {{ sentence.language_id.name }}
        </a>
        <br>
        <a href="{{ url_for('show_languages') }}">Back to all languages</a>
    </body>
</html>
