<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sentence {{ sentence.id }} of user {{ sentence.user_id}}</title>
</head>
    <body>
        <h1>Show text of sentence {{ sentence.id }} of language {{ sentence.language_id }}</h1>
        <p>{{ sentence.text }}</p>
        <p>
            <a href="{{ url_for('show_sentence', lid=sentence.language_id, sid=sentence.id) }}">
                Back to sentence {{ sentence.id }}
            </a>
        </p>
    </body>
</html>
