{% extends "base.html" %}
{% block title %}Audio of sentence {{ sentence.id }} of language {{ sentence.language_id }}{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='language.css') }}" type="text/css" />
{% endblock %}
{% block header %}
    {{ super() }}
{% endblock %}
{% block headline %}
    <h1>
        Audio of sentence {{ sentence.id }}
        of language {{ sentence.language_id }}
    </h1>

{% endblock %}
{% block content %}
        <h2>Audio:</h2>
        <audio controls preload="auto" autoplay>
            <source src="{{ url_for('static', filename=sentence.audio) }}" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
{% endblock %}
{% block footer %}
{% endblock %}
